body
{
background-color:#d0e4fe;
width: 87%;
height: 100%;
/*allign: center;*/
}
div#glowny_index {
    position: absolute;
	background: grey/*blue/*black*/;
        /*top:13px;*/
        top:2%;
        right: 12.5%;
	width: 880px; 
        width: 64%; 
	height: auto;
	padding: 10px;
	float:right;
        margin-left: auto;
	color: white;
}

/*div#glowny_index {
position: relative;
background: greyblue/*black;
top: 110px;
width: 100%; 
height: auto;
padding: 10px;
float:right;
margin-left: auto;
margin-right: auto;
color: white;
}*/
#komunikatte{
    position: fixed;
    top: 100px;
    left: 0px;
}

div#glowny_wew {
background: lightcyan;
width: 50%; 
height: 450px;
margin-left: auto;
margin-right: auto;
-moz-box-shadow: 0px 0px 6px #88a;
-webkit-box-shadow: 0px 0px 6px #88a;
box-shadow: 0px 0px 6px #88a; 
padding: 0px;
float: left;
display: block;
color: black;
/*color: white;*/
}

#maildiv {
    background-color: highlight;
    color: chartreuse;
    position: relative;
/*    top: 2px;
    left: 2px;*/
    width: auto;
    height: 98%;
    padding: 2px 2px 2px 2px;
    -moz-border-radius:3px;
    -webkit-border-radius:3x;
    border-radius:3px;
    border:3px solid green;
}

#textTitle {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

div#LogPanel {
    position: fixed;
    bottom: 40px;
    right: 5px;
    width: 11.4%;
    /*background-clip: red;*/     
    /*border: 1px solid black;*/
    margin-left: auto;
    margin-left: auto;
    text-align: left;
}


/* Specific css for css div with info about connection*/
/*div#DBConn{
    background: chartreuse;
    width: 220px;
    -moz-box-shadow: 0px 0px 6px #88a;
    -webkit-box-shadow: 0px 0px 6px #88a;
    box-shadow: 0px 0px 6px #88a; 
    position:fixed;
    top:60px;
    left:5px;
}*/
        
div.cleaner {
clear: both;
}

p.red, span.red{
color:red;
}

p.blue, span.blue {
color:blue;
}

p.green {
color:green;
}

div.guziki {
position:fixed;
/*top:13px;*/
top:2%;
right:5px;
background: whitesmoke;
width:11.4%;
padding:2px;
border:2px solid black;
}

div.box {
float: left;
width: 15%;
height: auto;
border: 2px solid grey;
}

/*div .wisp1 {
float: left;
width: 40%;
}
*/

.myButton {
        
-moz-box-shadow: 4px 3px 0px 0px #284470;
-webkit-box-shadow: 4px 3px 0px 0px #284470;
box-shadow: 4px 3px 0px 0px #284470;
        
background-color:#415989;
/*background-color:#D0E4FE;*/
        
-moz-border-radius:12px;
-webkit-border-radius:12px;
border-radius:12px;
        
border:1px solid #1f2f47;
        
display:inline-block;
color:#ffffff;
/*color:#000000;*/
font-family:arial;
font-size:11px;
font-weight:normal;
padding:7px 15px;
text-decoration:none;
        
text-shadow:0px 3px 0px #263666;
        
}
.myButton:hover {
     background-color:#516ca3;
}
.myButton:active {
     position:relative;
     top:1px;
}
	/**/
        
div#footer p{
        position: relative;
        bottom: -950px; /* 2 rows*/
        bottom: -500px;  /*1 row*/
        /*bottom: 100%;*/
	background: blueviolet;
        /*background: url(backgrounds/menu.png) no-repeat center center fixed;*/
        text-align: right;
	margin-left: auto;
	/*margin-right: auto;*/
	width: auto;
	/*font-weight: bold;*/
        
	/*position: relative; height: 170px;*/
}

/* STYLE do MENU*/
 
      /* ------------------------CZĘŚĆ-GÓRNA-MENU------------------------ */

      /* usunięcie domyślnych właściwości CSS z elementów - ol - oraz - ul */     
      #menu, #menu ul, #menu ol {
        list-style-type:none;       // To usuwa domyślne numerki przy liście
        padding:0;
        margin:0;
      }

      /* wygląd głównego elementu - ol */
      #menu {
        position: fixed;
        top: 2%; 
        /*top: 0px;*/ 
        /*background-color:#FFF;*/
        background-color:#415989;
        font-size:12px;
        height:2.3em;
        line-height:2em;
        text-align:center;
        width: auto;
      }

      /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
      #menu a {
        display:block;
        text-decoration:none;
        color:#000;
        padding:0 5px;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol */
      #menu > li {
        float:left;
        width:135px;
        /*width:202%;*/
        /*width:100%;*/
        margin-left:0px;
        background-color:#FDD700;
        background-color: whitesmoke;
        height:2em; 
        position: relative;
        left: -35px;
        margin-top: 2px;
      }

      /* wygląd elementu - li - pierwszego dziecka elementu - ol */
      #menu > li:first-child {
        margin-left:0;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
      /* Czyli elementów górnego menu */
      #menu > li:hover {
        background-color:#EEE;  
        background-color: #CCC;
      }

      /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      /* Czyli "napisu" wewnątrz"" */ 
      #menu > li:hover > a {
        color:#09C;
        /*color:red;*/
      }

      /* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      /* tło do menu II level */
      #menu > li:hover > ul {
        display:block;
        /*width:135px;*/
        width:100%;
        position: relative;
        left: -40px;
        /*background-color: red;*/
      }

      /* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-1----------------------- */

      /* wygląd głównych rozwijanych elementów - ul */
      #menu > li > ul {
        display:none;
      }

      /* wygląd elementu - li - w części rozwijanej */
      #menu > li > ul > li {
        position:relative;
        background-color:#EEE;
      }

      /* wygląd elementu - a - w części rozwijanej */
      #menu > li > ul > li > a {
        border-top:1px solid #FFF;
      }

      /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
      #menu > li > ul > li:hover {
        background-color:#DDD;
        /*background-color:red;*/
      }

      /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
      #menu > li > ul > li:hover > a {
        color:#09C;
        /*color:red;*/
      }

      /* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-2----------------------- */

      /* wygląd głównego elementu - ol - w drugiej części rozwijanej */
      #menu > li > ul > li > ol {
        display:none;
        width:102%;
        position:absolute;
        left:70%;
        margin-top:-2em;
        z-index: 99;
        /*background-color: red;*/
      }

      /* wygląd głównego elementu - ol - w drugiej części rozwijanej, po najechaniu kursorem myszki na jego rodzica - li */
      #menu > li > ul > li:hover > ol {
        display:block;
        z-index: 99;
      }

      /* wygląd elementów - li - w drugiej części rozwijanej */
      #menu > li > ul > li > ol > li {
        background-color:#CCC;
      }

      /* wygląd elementów - a - w drugiej części rozwijanej */
      #menu > li > ul > li > ol > li > a {
        border-top:1px solid #FFF;
        border-left:1px solid #FFF;
      }

      /* wygląd elementu - a - w drugiej części rozwijanej, po najechaniu kursorem myszki */
      #menu > li > ul > li > ol > li > a:hover {
        color:#09C;
      }
      /* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-3----------------------- */
      #menu > li > ul > li > ol > li > ol{
/*        display:none;
        width:850px;
        position:absolute;  żeby nie latało za strzałką
        top: 39px;
        left: 420.7%;
        left: 300px;     strzałka 
        left:100.5%;
        margin-top:-2em;
        z-index: 98;
        background-color: white;*/

        display:none;
        width:850px;
        position:absolute;
        left:101%;
        margin-top:-2em;
        z-index: 99;
        background-color: white
      }
      
            /* wygląd głównego elementu - ol - w drugiej części rozwijanej, po najechaniu kursorem myszki na jego rodzica - li */
      #menu > li > ul > li > ol > li:hover > ol {
        display:block;
        z-index: 99;
      }
      /* ------------------------WSPÓLNE----------------------- */

      /* zaokrąglone rogi wszystkich elementów - li - oraz - a */
      #menu li, ol a {
        border-radius:6px;
      }

      /* strzałka w prawo */
      #menu .dol {
        background-image:url('../img/down.png');
        background-repeat:no-repeat;
        background-position:100% center;
      }

      /* strzałka w dół */
      #menu .prawo {
        background-image:url('../img/right.png');
        background-repeat:no-repeat;
        background-position:101% center;
      }
