*~
*.exe
*.[oa]
*.eap
*.mwb
*.mwb.bak
*.rar
*.zip
*.z7
nbproject
DB_Connection.php
ExternalResources/Oracle_modeler
ExternalResources/Notes
Documents/*
notes/*
/login.php
Texts/*
Texts/Prezentacja.php
