body
{
background-color:#d0e4fe;
width: 84%;
allign: center;
}

#maildiv {
    background-color: highlight;
    color: chartreuse;
    position: relative;
/*    top: 2px;
    left: 2px;*/
    width: auto;
    height: 98%;
    padding: 2px 2px 2px 2px;
    -moz-border-radius:3px;
    -webkit-border-radius:3x;
    border-radius:3px;
    border:3px solid green;
}

#textTitle {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

div.flag {
    background-color: silver;
    position: fixed;
    bottom:10px;
    left:10px;
    padding: 2px;
    border: 1px solid #263666;
}

div.transbutton {
    position: fixed;
    bottom:60px;
    left:10px;
    padding: 2px;
    border: 1px solid #263666;
}
div.transbutton2 {
    position: fixed;
    bottom:60px;
    left:120px;
    padding: 2px;
    border: 1px solid #263666;
}

div.flag a{
    width: 100px;
    height: 30px;
    /*border: 1px solid black;*/
}
div#DBConn{
    background: chartreuse;
    width: 220px;
    -moz-box-shadow: 0px 0px 6px #88a;
    -webkit-box-shadow: 0px 0px 6px #88a;
    box-shadow: 0px 0px 6px #88a; 
    position:fixed;
    top:60px;
    left:5px;
    
}
div#glowny_index {
	background: grey/*blue/*black*/;
        top:450px;
	width: 880px; 
	height: auto;
	padding: 10px;
	float:right;
        margin-left: auto;
        right: auto;
	/*color: white;*/
	}
div#glowny_index_translation {
	background: grey/*blue/*black*/;
        top:450px;
	width: 1050px; 
	height: auto;
	padding: 10px;
	float:center;
        margin-left: auto;
        margin-right: auto;
	/*color: white;*/
	}
        
div#glowny_wew {
	background: lightcyan;
	width: 50%; 
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	-moz-box-shadow: 0px 0px 6px #88a;
	-webkit-box-shadow: 0px 0px 6px #88a;
	box-shadow: 0px 0px 6px #88a; 
	padding: 0px;
	float: left;
        display: block;
	/*color: white;*/
}

div.cleaner {
clear: both;
}

p.red {
color:red;
}
p.blue {
color:blue;
}
p.green {
color:green;
}


div.guziki {
position:fixed;
top:30px;
right:5px;
background: red;
width:180px;
padding:5px;
border:2px solid black;
}

div .box {
float: left;
width: 15%;
height: auto;
border: 2px solid grey;
}

div .wisp1 {
float: left;
width: 40%;
}


    .myButton {
        
        -moz-box-shadow: 4px 3px 0px 0px #284470;
        -webkit-box-shadow: 4px 3px 0px 0px #284470;
        box-shadow: 4px 3px 0px 0px #284470;
        
        background-color:#415989;
        
        -moz-border-radius:18px;
        -webkit-border-radius:18px;
        border-radius:18px;
        
        border:1px solid #1f2f47;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:13px;
        font-weight:normal;
        padding:10px 25px;
        text-decoration:none;
        
        text-shadow:0px 3px 0px #263666;
        
    }
    .myButton:hover {
        
        background-color:#516ca3;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
	/**/
        
#footer {
	background: blueviolet;
        /*background: url(backgrounds/menu.png) no-repeat center center fixed;*/
	margin-left: 21%;
	margin-right: auto;
	width: auto;
	font-weight: bold;
        
	/*position: relative; height: 170px;*/
}