
/* 
    Created on : 2014-04-03, 21:38:21
    Author     : Bartek M. Lewiński
*/
div#glowny_index {
	background: grey/*blue/*black*/;
        top:450px;
	width: 880px; 
	height: auto;
	padding: 10px;
	float:right;
        margin-left: auto;
        right: auto;
	/*color: white;*/
	}
        
div#glowny_index_translation {
	background: grey/*blue/*black*/;
        top:450px;
	width: 1050px; 
	height: auto;
	padding: 10px;
	float:center;
        margin-left: auto;
        margin-right: auto;
	/*color: white;*/
	}

div.flag {
    background-color: silver;
    position: fixed;
    bottom:10px;
    left:10px;
    padding: 2px;
    border: 1px solid #263666;
}
#langchoser {
    /*background-color: #FDD700;*/
    width: 200px;
    float: left;
}

#zawart {
    /*background-color: chartreuse;*/
    width: 200px;
    float: left;
}

#szukacz {
    /*background-color: chocolate;*/
    width: 250px;
    float: right;
}

div.logbutton {
    position: fixed;
    bottom:60px;
    right:10px;
    padding: 2px;
    /*border: 1px solid #263666;*/
}

div.transbutton {
    position: fixed;
    bottom:60px;
    left:10px;
    padding: 2px;
    border: 1px solid #263666;
}
div.transbutton2 {
    position: fixed;
    bottom:60px;
    left:120px;
    padding: 2px;
    border: 1px solid #263666;
}

div.flag a{
    width: 100px;
    height: 30px;
    /*border: 1px solid black;*/
}
/*  KONIEC CSS dla /Translations*/

