
/* 
    Created on : 2014-04-03, 21:38:21
    Author     : Bartek M. Lewiński
*/

        
div#glowny_index_translation {
	background: grey/*blue/*black*/;
        top:450px;
	width: 1030px; 
	height: auto;
	padding: 10px;
	float:left;
        margin-left: 9%;
        margin-right: auto;
	/*color: white;*/
	}
        
div#translacje {
    position: fixed;
    bottom: -40px;
    left: 5px;
    width: 11.4%;
    /*background-clip: red;*/     
    /*border: 1px solid black;*/
    margin-left: auto;
    margin-left: auto;
    text-align: left;
}

div.flag {
    position: relative;
    top: -90px;
    right:-1px;
    /*background-color: silver;*/
    /*padding: 2px;*/
    /*border: 1px solid #263666;*/
}

div.flag a{
    width: 100px;
    /*height: 25px;*/
    /*border: 1px solid black;*/
}

div.logbutton {
    position: relative;
    top:5px;
    right:0px;
    padding: 2px 0 2px 0;
    text-align: left;
    /*border: 1px solid #263666;*/
}

div.logbutton2 {
    position: relative;
    top:5px;
    right:0px;
    padding: 2px 0 2px 0;
    text-align: left;
    /*border: 1px solid #263666;*/
}

div.transbutton {
    position: relative;
    top:10px;
    right:0px;
/*    width: 92px;
    padding: 2px;*/
    /*border: 1px solid #263666;*/
}
div.transbutton2 {
    position: relative;
    top:0px;
    right:0px;
    padding: 2px 0 2px 0;
    border: 1px solid #263666;
}

#langchoser {
    /*background-color: #FDD700;*/
    width: 200px;
    float: left;
}

#zawart {
    /*background-color: chartreuse;*/
    width: 200px;
    float: left;
}

#plik {
    /*background-color: chartreuse;*/
    width: 200px;
    float: left;
}

#szukacz {
    /*background-color: chocolate;*/
    width: 250px;
    float: right;
}
/*  KONIEC CSS dla /Translations*/

.th1 {
    width: 35px;
    font-size: 13px;
}
